<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.blog.tty4032.listener.Listeners"></listener>
        <listener class-name="com.blog.tty4032.util.ExtentReporterNG"></listener>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="TestNG1">
        <classes> <!-- module -->
            <class name="com.blog.tty4032.TestEcommerce"/>
            <class name="com.blog.tty4032.TestAPIDemos"/>
        </classes>
    </test>
</suite>